<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Article</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
</head>

<style type="text/css">
    .pagination li {
        cursor: pointer;
    }

    .main_section {
        /*width: 1373px;*/
    }

    #article_table .btn-primary {
        background-color: #FF7F50 !important;
        border-color: #FF7F50 !important;
    }

    #loading_icon {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9999;
        /*background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)*/
        background:url("{{ url('/assets/images/loading_icon.gif')  }}") no-repeat center center rgba(0, 0, 0, 0.25);
        background-size: 100px;
        display: none;
    }

    #nav-color-change {
        background-color: #337AB7;
        border: none;
        padding-bottom: 30px;
        /*margin-right: -1000px;  */
        /*width: 1480px;*/


    }

    #button-color-change {
        background-color: #E8582B;
        border: none;
    }

    .btn-edited,
    .btn-edited:hover,
    .btn-edited:focus {
        color: #fff;
        background-color: #337AB7;
    }


    .btn-republished,
    .btn-republished:hover,
    .btn-republished:focus {
        color: #fff;
        background-color: #286090;
    }


    .notification_msg {
        display: none;
    }
</style>
<style>
    /* The container */
    .container_checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container_checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container_checkbox:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container_checkbox input:checked~.checkmark {
        background-color: #337AB7;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container_checkbox input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container_checkbox .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>


<body>
    <div class="container-fluid main_section">
        <a class="btn btn-primary" style="justify-content: right;text-align: right;" href="/">Add Articles</a>
        <div class="row">
            <div class="table-responsive">
                <h3 class="text-success"><b><u>Published Articles on Volv App:</u></b></h3>

                <table id="article_table" class="table table-striped dataTable dashbopard_panel">
                    <thead>
                        <th>Article Image</th>
                        <th>Category</th>
                        <th style="width: 40%;"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;Articles</th>
                        <th><i class="fa fa-user"></i>&nbsp;Author</th>
                        <th><i class="fa fa-clock-o"></i>&nbsp;Last Updated</th>
                        <th>Notification Text</th>
                        <th>Sequence</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Activity</th>

                    </thead>

                    <tbody>
                        <input type="hidden" name="" id="start_point" value="10">
                        <% articles.forEach(function(check){ %>
                        <tr>
                            <td><img src="<%= check.article_image %>" height="100px" width="100px"></td>
                            <td class="art"><%= check.article_category %></td>
                            <td class="art" style="width: 40%;"><p class="text-center bold"><b><%=  check.article_heading %></b></p><%= check.article_summary %></td>
                            <td class="art"><%= check.article_author %></td>
                            <td class="art"><%= check.time_ago %></td>
                            <td class="art"><%= check.notification_text %></td>
                            <td class="art">-</td>
                            <td class="art"><%= check.article_status %></td>
                            <td class="art">
                                <a><span class="btn btn-danger"><i class="fa fa-trash" title="Delete Sales"></i></span></a>
                                <a><button type="button" class="btn btn-info"><i class="fa fa-edit"></i></button></a>
                                <a><button type="button" class="btn btn-success"><i class="fa fa-eye"></i></button></a>
                            </td>
                            <input type="hidden" class="status" value="<%=[check.status]%>">
                            <% if(check.notification_text){ %>
                            <td><a href=""><button class="btn btn-info pqr"
                                        value="<%= [check.id] %>" name="notify_btn">Notify</button></a></td>
                            <% } 
                    else{ %>
                            <td>N-A</td>
                            <% } %>
                        </tr>
                        <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() + $(window).height() >= $(document).height() ) {
            var data=$('#start_point').val();
            //console.log($('#start_point').val());
            $.ajax({
                type: "GET",
                url: '/scroll_articles/'+data,
                data: {
                    data: data
                },
                success: function(obj) {
                    $('#start_point').val(parseInt(data)+10);
                    scroll_data=JSON.parse(obj);
                    scroll_data.forEach(function(check){
                        //console.log(check)
                        if (check.notification_text){
                            $("table tbody").append("\
                            <tr>\
                              <td><img height='100px' width='100px' src='"+check.article_image +"'></td>\
                              <td>"+check.article_category+"</td>\
                              <td style='width: 40%;'><p class='text-center bold'><b>"+check.article_heading+"</b></p>"+check.article_summary+"</td>\
                              <td>"+check.article_author+"</td>\
                              <td>"+check.time_ago+"</td>\
                              <td>"+check.notification_text+"</td>\
                              <td>-</td>\
                              <td>"+check.article_status+"</td>\
                              <td>\
                                <a><span class='btn btn-danger'><i class='fa fa-trash' title='Delete Sales'></i></span></a>\
                                <a><button type='button' class='btn btn-info'><i class='fa fa-edit'></i></button></a>\
                                <a><button type='button' class='btn btn-success'><i class='fa fa-eye'></i></button></a>\
                              </td>\
                              <input type='hidden' class='status' value='"+check.status+"'>\
                              <td><a href=''><button class='btn btn-info pqr' name='notify_btn' value='"+[check.id]+"'>Notify</button></a>\
                              </td>\
                            </tr>\
                           ");
                        }
                        else{
                            $("table tbody").append("\
                            <tr>\
                              <td><img height='100px' width='100px' src='"+check.article_image +"'></td>\
                              <td>"+check.article_category+"</td>\
                              <td style='width: 40%;'><p class='text-center bold'><b>"+check.article_heading+"</b></p>"+check.article_summary+"</td>\
                              <td>"+check.article_author+"</td>\
                              <td>"+check.times_ago+"</td>\
                              <td>"+check.notification_text+"</td>\
                              <td>-</td>\
                              <td>"+check.article_status+"</td>\
                              <td>\
                                <a><span class='btn btn-danger'><i class='fa fa-trash' title='Delete Sales'></i></span></a>\
                                <a><button type='button' class='btn btn-info'><i class='fa fa-edit'></i></button></a>\
                                <a><button type='button' class='btn btn-success'><i class='fa fa-eye'></i></button></a>\
                              </td>\
                              <td>N-A</td>\
                            </tr>\
                           ");
                        }
                    });

                },
                error: function(obj) {
                    alert("Error");
                }
            });
          
        }
    });
</script>
<script type="text/javascript">

    $('body').on('click',"button[name=notify_btn]", function (e) {
        e.preventDefault();
            //console.log();
            var data = $(this).val();
            //console.log(data)
            if($(this).closest("tr").find(".status").val()=='0'){
            swal({
                title: "Are you sure?",
                text: "You Article will get published!",
                type: 'success',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm!',
                //closeOnConfirm: false,
                //closeOnCancel: false
            }).then((e) => {
                if (e['value']) {
                    $.ajax({
                        type: "POST",
                        url: '/pushnotication/',
                        data: {
                            data: data
                        },
                        success: function(obj) {
                            console.log("reposonse",JSON.parse(obj));
                            swal({
                                title: JSON.parse(obj),
                                type: 'success',
                            });
                        },
                        dataType: '',
                    });
                } 
            }).catch(function (reason) {
                alert("The alert was dismissed by the user: " + reason);
            });
        }
        else{
            swal({
                title: "Already Sent The Notification",
                type: 'info',
            })
        }
        
    });
</script>

</body>

</html>